:root { /* Dark Mode Values */

  --text-color: var(--sb-color-white);

  --background-color-sub2: var(--sb-color-gray);
  --background-color-sub3: var(--sb-color-dark-gray);
  --background-color-main: var(--sb-color-black);

  --border-color: var(--sb-color-light-gray);
  --button-bg: var(--button-ok-bg);
  --button-bg-hover: var(--button-ok-bg-hover);

  --footer-text-color: var(--sb-color-blue);

  --container-action-border: var(--sb-color-blue);
  --container-trigger-border: var(--sb-color-violet);

  --button-del-bg: rgb(200, 35, 51);
  --button-del-bg-hover: rgb(220, 53, 69);
  --button-mv-bg: rgb(224, 168, 0);
  --button-mv-bg-hover: rgb(255, 193, 7);
  --button-ok-bg: rgb(0, 105, 217);
  --button-ok-bg-hover: rgb(0, 123, 255);
  --button-reset-bg: rgb(138, 138, 56);
  --button-reset-bg-hover: rgb(190, 190, 82); 
  --button-save-bg: rgb(33, 136, 56);
  --button-save-bg-hover: rgb(40, 167, 69);

  --font-family: "DM Sans", sans-serif;
  --font-large: 22px;
  --font-medium: 16px;
  --font-small: 12px;

  --platfrom-obs-bg: #3a3a3a;
  --platfrom-sb-bg: #00505c;
  --platfrom-tw-bg: #4e0c7e;
  --platfrom-yt-bg: #ca0000;

  --sb-color-white: #ffffff;
  --sb-color-violet: #a257ed; 
  --sb-color-purple: #2e2441;
  --sb-color-blue: #00dbff;
  --sb-color-royal: #224b8f;
  --sb-color-navy: #123a44;
  --sb-color-light-gray: #4f5b66;
  --sb-color-gray: #2e333a;
  --sb-color-dark-gray: #23282e;
  --sb-color-black: #23282e;
}

@media (prefers-color-scheme: light) {
    :root {
        /* Valores para Light Mode */
        --text-color: var(--sb-color-black);
        --border-color: red;
        --background-color-main: var(--sb-color-white);
        --background-color-sub2: rgb(161, 161, 161);
        --background-color-sub3: rgb(211, 211, 211);

        --container-action-border: var(--sb-color-navy);
        --container-trigger-border: var(--sb-color-purple);

        --footer-text-color: var(--sb-color-navy);
    }
}

  /* FIX ajustar alinhamento botoes em item list*/

* {
  font-size: var(--font-small);
  margin: 0px;
  padding: 0px;
  color: var(--text-color);
}

#actionCategory,
#actionPlatform,
#actionSubcategory {
  background-color: var(--background-color-sub2);
  border: 2px solid var(--container-action-border);
  border-radius: 6px;
  padding: 5px;
  width: 100%;
}
#triggerCategory,
#triggerPlatform,
#triggerSubcategory {
  background-color: var(--background-color-sub2);
  border: 2px solid var(--container-trigger-border);
  border-radius: 6px;
  padding: 5px;
  width: 100%;
}
.actionList{
  color: var(--container-action-border);
}

.triggerList {
  color: var(--container-trigger-border);
}
#actionCategory:hover,
#actionPlatform:hover,
#actionSubcategory:hover {
  border-color: var(--container-action-border);
}
#triggerCategory:hover,
#triggerPlatform:hover,
#triggerSubcategory:hover {
  border-color: var(--container-trigger-border);
}

#actionList,
#triggerList {
  margin: 0;
  padding: 0;
}

#actionParameters {
  background-color: var(--sb-color-navy);
  margin: 10px 0;
  padding: 5px 5px;
}
#triggerParameters {
  background-color: var(--sb-color-purple);
  margin: 10px 0;
  padding: 5px 5px;
}
#selector, #input, .option{
  color: var(--sb-color-black);
}
#exportPNGButton,
#exportTXTButton {
  background: var(--button-save-bg);
}

#exportPNGButton:hover,
#exportTXTButton:hover {
  background: var(--button-save-bg-hover);
  transform: scale(1.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#year {
  color: var(--footer-text-color);
  font-size: var(--font-medium);
  margin: 20px 0 0 0;
  text-align: center;
}


.addButton:hover {
  background-color: var(--button-ok-bg-hover);
  transform: scale(1.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}
/* Estilo para organizar parâmetros */
#actionParameters, #triggerParameters {
  display: flex;
  flex-wrap: wrap; /* Permite quebrar a linha para melhor organização */
  gap: 10px; /* Espaço entre os elementos */
}

#actionParameters > div, #triggerParameters > div {
  display: flex;
  flex-direction: column;
}

body {
  background-color: var(--background-color-main);
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  display: block;
  margin: 10px 0 0 0;
  border: solid 3px var(--sb-color-violet);
  border-radius: 50%;
  width: 100px; 
}

.button-container {
  display: flex;
  justify-content: space-around;
}

button {
  align-items: center;
  background-color: var(--button-ok-bg);
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  justify-content: center;
  padding: 5px 5px;
  width: fit-content;
}

.child-container {
  display: flex;
  flex-direction: column; 
  gap: 20px;
}

.clearButton {
  background-color: var(--button-del-bg);
}

.clearButton:hover {
  background-color: var(--button-del-bg-hover);
  transform: scale(1.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.dropdown-container {
  background-color: var(--background-color-sub3);
  border-radius: 8px;
  flex: 1;
  padding: 10px;
}

.triggerContainer {
  border: 2px solid var(--container-trigger-border);
}
.actionContainer {
  border: 2px solid var(--container-action-border);
}

.dropdown-item {
  margin-bottom: 5px;
}

.hamburger-btn {
  align-items: center;
  background-color: var(--button-mv-bg);
  border: none;
  cursor: grab;
  justify-content: center;
  scale: 0.7;
  width: 25px;
}

.hamburger-btn:hover {
  background-color: var(--button-mv-bg-hover);
}

h3 {
  color: var(--sb-color-blue);
  font-size: var(--font-medium);
  margin: 0 0 10px 0;
  text-align: center;
}

input {
  color: var(--background-color-sub3);
}

.item {
  align-items: center;
  background-color: var(--background-color-sub2);
  border: 1px solid var(--sb-color-white);
  border-radius: 6px;
  display: flex;
  height: 25px;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 0 10px;
  white-space: pre-line;
}

.item span {
  flex-grow: 1;
  color: var(--sb-color-white);
}

label {
  margin: 0px 0 5px 0;
  color: var(--sb-color-white);
}

.list-container {
  background-color: var(--background-color-sub3);
  border-radius: 8px;
  flex: 1;
  padding: 10px;
}

.list-container ul {
  list-style: none;
}

.list-container.actionContainer {
  border: solid 2px var(--container-action-border);
}

.list-container.triggerContainer {
  border: solid 2px var(--container-trigger-border);
} 

.obs {
  background-color: var(--platfrom-obs-bg);
}

.parent-container {
  background-color: var(--background-color-sub2);
  border-radius: 16px;
  width: 92%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  margin-top: 10px
}

.remove-btn {
  align-items: center;
  background: var(--button-del-bg);
  border: none;
  cursor: pointer;
  justify-content: center;
  scale: 0.7;
  width: 25px;
}

.remove-btn:hover {
  background: var(--button-del-bg-hover);
  transform: scale(1.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.resetButton {
  background-color: var(--button-reset-bg);
}

.resetButton:hover {
  background-color: var(--button-reset-bg-hover);
  transform: scale(1.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

.streamerBot {
  background-color: var(--platfrom-sb-bg);
}

.twitch {
  background-color: var(--platfrom-tw-bg);
}

.youtube {
  background-color: var(--platfrom-yt-bg);
}
#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer-link {
  font-size: var(--font-large);
  color: var(--footer-text-color)
}

@media (max-width: 768px) {
  .dropdown-container,
  .list-container {
    max-width: calc(100% - 40px);
    width: 100%;
  }

  .item {
    align-items: center;
    border: 2px solid var(--sb-color-white);
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: auto;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .item span {
    display: block;
    white-space: pre-line;
  }

  .item span:nth-of-type(1) {
    display: block;
  }

  .item span:nth-of-type(2) {
    display: block;
    margin-top: 10px;
  }

  .row {
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  #actionParameters, #triggerParameters {
    display: flex;
    flex-direction: row;
  }

  #actionParameters > div, #triggerParameters > div {
    flex: 1 1;
  }
}

.light-mode {
  --text-color: var(--sb-color-black);
  --border-color: var(--sb-color-dark-gray);
  --background-color-main: rgb(201, 201, 201);
  --background-color-sub2: rgb(190, 190, 190);
  --background-color-sub3: rgb(146, 146, 146);

  --container-action-border: var(--sb-color-navy);
  --container-trigger-border: var(--sb-color-purple);

  --footer-text-color: var(--sb-color-navy);
}

.toggle-mode-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-color: transparent;
  border: 2px solid var(--text-color);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-mode-btn:hover {
  background-color: var(--background-color-sub2);
  transform: scale(1.1);
}

.icon-container svg {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.icon-container svg path {
  fill: var(--text-color);
}
